<!-- NOTE:  Using the 'no-controller-as alias prefix' $scope method -->

<div class="card" title="{{header}}">

  <img ng-src="{{image}}" ng-if="image">

  <div ng-if="icon">
  	<i class="icon icon-card {{icon}}"></i>
  </div>
  
  <h2 class="h3">{{header}}</h2>
  <p>{{description}}</p>
</div>


<!-- The alternate would be ...

<div class="card" title="{{card.header}}">
  <h2 class="h3">{{card.header}}</h2>
  <p>{{card.description}}</p>
</div>

... assuming the directive's 'controllerAs' is set to 'card' -->
